{% extends 'main.html' %}

{% block content %}
    

    
<div class="section">
    <img class="user--avatar--lg" src="{{user.avatar.url}}"/>
    <h1>{{user.name}}</h1>
    <small><h4>@{{user.username}}</h4></small>
</div>



<div class="section">
    {% if user.twitter %}
        <div>
            <a class="item" href="{{user.twitter}}" target="_blank">Twitter</a>
        </div>
    {% endif %}

    {% if user.website %}
        <div>
            <a class="item" href="{{user.website}}" target="_blank">Website</a>
        </div>
    {% endif %}

    {% if user.facebook %}
        <div>
            <a class="item" href="{{user.facebook}}" target="_blank">Facebook</a>
        </div>
    {% endif %}

    {% if user.linkedin %}
        <div>
            <a class="item" href="{{user.linkedin}}" target="_blank">LinkedIn</a>
        </div>
    {% endif %}

    {% if user.github %}
        <div>
            <a class="item" href="{{user.github}}" target="_blank">Github</a>
        </div>
    {% endif %}
    <div>
        <a class="item" href="mailto:{{user.email}}" target="_blank">{{user.email}}</a>
    </div>
</div>    
<div class="section">
    {% if user.bio %}
    <p>{{user.bio}}</p>
    {% endif %}
</div>
{% endblock content %}